<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>{{ current_type.type }}</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Музыкальное оборудование</h1>-->
<!--    <h2>Фильтрация по: {{ current_type.type }}</h2>-->
<!--    <div>-->
<!--        <a href="">Главная</a>-->
<!--        {% for type in types %}-->
<!--        <a href="{{ type }}/">{{ type }}</a>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    {% for equipment in equipments %}-->
<!--    <div>-->
<!--        <h2>{{ equipment.owner }}</h2>-->
<!--        <p>{{ equipment.name }}</p>-->
<!--        <p>{{ equipment.register_date|date:"d.m.Y H:i:s" }}</p>-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--</body>-->
<!--</html>-->