<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Equipments</title>
</head>
<body>
    <table>
      <thead>
        <tr>
            <th>Владелец</th>
            <th>Модель</th>
            <th>Тип</th>
            <th>Описание</th>
            <th>Зарегистрирован</th>
        </tr>
      </thead>
      <tbody>
      {% for equipment in equipments %}
    <tr>
        <td>{{ equipment.owner }}</td>
        <td>{{ equipment.name }}</td>
        <td>{{ equipment.type }}</td>
        <td>{{ equipment.description|linebreaksbr }}</td>
        <td>{{ equipment.register_date }}</td>
     </tr>
      {% endfor %}
      </tbody>
    </table>
</body>
</html>